{% extends 'base.html' %}
{% block title %}附件：{{ file_name }}{% endblock %}
{% block left_data %}
{% endblock %}

{% block right-col-sm- %}col-sm-10{% endblock %}
{% block right-col-sm-offset- %}col-sm-offset-1{% endblock %}
{% block right-col-md- %}col-md-10{% endblock %}
{% block right-col-md-offset- %}col-md-offset-1{% endblock %}
{% block right_data %}
  <h4 class="sub-header">{{ file_name }}</h4>
  <div class="table-responsive">
    <div>{{ file_data }}</div>
  </div>
{% endblock %}

{% block models %}
{% endblock %}

{% block js_block %}

  {% endblock %}
